---
---

@import "{{ site.theme }}";

$psblue: #003ca6;

.inner {
  width: 100%;
  max-width: 1280px;
}
header {
  padding-bottom: 0;
  text-align: center;
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 300;
    #logo {
      height: 50px;
      top: 6px;
      position: relative;
    }
    .title {
      margin-left: 15px;
    }
  }
}
#main_content {
  padding-bottom: 40px;
  #index {
    text-align: center;
    section {
      width: 48%;
      padding: 0.5%;
      display: inline-block;
      text-align: left;
      @media only screen and (max-width: 800px) {
        width: 100%;
        max-width: 620px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
      }
      h2 {
        margin-top: 8px;
      }
    }
    a {
      img {
        border: 1px solid #333;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    #cta {
      margin-top: 30px;
      text-align: center;
      .prompt {
        font-size: 2em;
        font-weight: 300;
        display: inline-block;
        padding: 10px;
      }
      .button {
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 3px 20px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: .05em;
        text-decoration: none;
        font-weight: 200;
        text-shadow: none;
        background-color: $psblue;
        position: relative;
        bottom: 5px;
        a {
          color: #fff;
        }
      }
    }
  }
  #embed {
    ul li {
      list-style: none;
      padding-left: 10px;
    }
  }
}
footer {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  background: none;
  span {
    margin: 0 5px;
  }
}