<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>PlugShare Embed Map</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1><img src="psdev.png" id="logo"><span class="title">PlugShare Developer Center</span></h1>
          <!-- <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->
        </header>
        <hr>
        <section id="main_content">
          <div id="content"><h2>Embedding</h2>
            <p>The below map can be embedded into any article, blog, or website.</p>
            <p id="widget"><iframe src="http://www.plugshare.com/widget.html?latitude=&amp;longitude=&amp;spanLat=&amp;spanLng=" width="800" height="600"></iframe></p>

            <h3>Setting the map size.</h3>
            <p>Change the map size using the following values.</p>
            <ul>
                <li><input type="text" name="height" id="height" value="600"> - The height of the map widget in pixels.</li>
                <li><input type="text" name="width" id="width" value="800"> - The width of the map widget in pixels.</li>
            </ul>

            <h3>Setting the map region.</h3>
            <p>
            <input type="checkbox" name="currentlocation" id="currentlocation"> Automatically zoom to user's location
            </p>
            <p>To adjust the map region (it defaults to the user's current location) set the following values.</p>
            <ul>
                <li><input type="text" name="latitude" id="latitude"> - The latitude of the center coordinate.</li>
                <li><input type="text" name="longitude" id="longitude"> - The longitude of the center coordinate</li>
                <li><input type="text" name="spanLat" id="spanLat"> - The distance in latitude between N and S.</li>
                <li><input type="text" name="spanLng" id="spanLng"> - The distance in longitude between E and W.</li>
            </ul>

            <h3>Code</h3>
            <p>Insert the following code snippet into your website. For best results, it is recommended that you set a width no less than 500 and a height no less than 600. You can test the parameters here.</p>

            <p><a id="update" href="#" style="text-decoration:underline;">Update code with values entered above</a></p>
            <textarea id="code" rows="2" cols="100"></textarea>
          </div>
        </section>
        <hr>
        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script>
      (function() {
          var updateFunc = function() {
              $("#widget").html($("#code").val());

              var height = $("#height").val();
              var width = $("#width").val();

              var src = 'http://www.plugshare.com/widget.html';

              if (!($('#currentlocation').is(':checked'))) {

                  var spanLat = $("#spanLat").val();
                  var spanLng = $("#spanLng").val();
                  var latitude = $("#latitude").val();
                  var longitude = $("#longitude").val();

                  src += '?latitude=' + latitude + '&longitude=' + longitude + '&spanLat=' + spanLat + '&spanLng=' + spanLng;
              }

              code = '<iframe src="' + src + '" width="' + width + '" height="' + height + '"></iframe>';

              $("#widget").html(code);
              $("#code").val(code);
          };
      
          updateFunc();

          $("#update").on("click", function(e) {
              e.preventDefault();
              updateFunc();
          });
          $("#reset").on("click", function() {
              $("#widget").html(code);
              $("#code").val(code);
          });

          /*
          //get the very first bounds changed so we can make the first locations request
          google.maps.event.addListener(this.map, "bounds_changed", function() {
              if ($('#chargerCost').is(':checked')) {
                  code = '<iframe src="http://www.plugshare.com/widget.html" width="800" height="600"></iframe>';
              } else {
                  var center = this.map.getCenter();    
                  var bounds = this.map.getBounds();
                  var spanLat = bounds.toSpan().lat();
                  var spanLng = bounds.toSpan().lng();
                  var latitude = center.lat();
                  var longitude = center.lng();

                  code = '<iframe src="http://www.plugshare.com/widget.html?latitude=' + latitude + '&longitude=' + longitude + '&spanLat=' + spanLat + '&spanLng=' + spanLng + '" width="800" height="600"></iframe>';
              }
          });
          */
      })();
    </script>
  </body>
</html>